[submodule "bundle/ctrlp"]
	path = bundle/ctrlp
	url = http://github.com/kien/ctrlp.vim
[submodule "bundle/camelcasemotion"]
	path = bundle/camelcasemotion
	url = http://github.com/vim-scripts/camelcasemotion.git
[submodule "bundle/vim-surround"]
	path = bundle/vim-surround
	url = https://github.com/tpope/vim-surround.git
[submodule "bundle/delimitMate"]
	path = bundle/delimitMate
	url = https://github.com/Raimondi/delimitMate.git
[submodule "bundle/MSIL-Assembly"]
	path = bundle/MSIL-Assembly
	url = https://github.com/vim-scripts/MSIL-Assembly.git
[submodule "bundle/vim-easymotion"]
	path = bundle/vim-easymotion
	url = https://github.com/Lokaltog/vim-easymotion.git
[submodule "bundle/renamer.vim"]
	path = bundle/renamer.vim
	url = https://github.com/vim-scripts/renamer.vim.git
